body {
    background-color: #f8f9fa;
}

.calculator {
    width: 300px;
    background: white;
}

button {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}

#display {
    height: 60px;
    font-size: 22px;
    font-weight: bold;
}
